.category footer {
	margin: 0;
}

.category .bg-content {
	background: #fff;
	margin: -150px auto 0;
	padding: 20px;
    position: relative;
    z-index: 9999;
	box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.28);
}

.category .category_header {
	background: url('../img/category_header.png');
	background-size: 100% 100%;
	background-position: center;
    padding: 14% 0 20%;
    position: relative;
    z-index: 1;
}

.category .category_header h2 {
	text-align: center;
	color: #fffcdf;
	font-size: 40px;
	font-weight: 900;
	text-transform: uppercase;
}

.category .product {
  border:1px solid #eaeaea; 
  text-align: center; 
  padding: 20px 0; 
  min-height: 416px; 
}

.category .title {
	width: 201px;
    margin: 0 auto 10px;

}

.category .title h5 {
	color: #3574a1;
	font-size: 14px;
	font-weight: 900;
}

.category .rate {
	margin: 10px auto;
}

.category .on-sale {
	font-size: 12px;
	margin: 10px auto;
}

.category .on-sale span{
	color: #fbad48;
}

.category .price {
	font-size: 18px;
	font-weight: 900;
	color: #4d5059;
	margin: 10px auto;
}

.category a.button {
	text-transform: uppercase;
	color: #fff;
	background: #fbad48;
	font-size: 14px;
	font-weight: 900;
	padding: 10px 50px;
	display: block;
	margin: 10px auto 0;
	width: 70%;
}

.category a.button:hover {
	background: #f39c2b;
	text-decoration: none;
}

.category .sidebar a.button {
	text-transform: uppercase;
	color: #fff;
	background: #fbad48;
	font-size: 14px;
	font-weight: 900;
    padding: 18px 25px;
	display: block;
	margin: 10px auto 0;
	width: 100%;
}

.category .sidebar a.button:hover {
	background: #f39c2b;
	text-decoration: none;
}

.category .sidebar .params {
	border:1px solid #eaeaea;
}

.category .sidebar .params label {
	width: 22%;
}

.category .sidebar .params input[type="text"] {
	width: 73%;
    margin: 15px 0 15px 10px;
    background: #f2f2f2;
    border: #d0d0d0;
    padding: 10px;
    outline: 0;
}
.category .sidebar .params input[type="text"]:focus {
	outline: 1px solid #fbad48;
}

.category .sidebar .params select {
	width: 73%;
    margin: 15px 0 15px 6px;
    background: #f2f2f2;
    border: #d0d0d0;
    padding: 10px;
    outline: 0;
    border: 0;
}

.category .sidebar .params select:focus {
	outline: 1px solid #fbad48;
}

.category .sidebar .params option {
	outline: none;
	border:none;
}

.category .sidebar .form-control {
	width: 45%;
	float: left;
    margin: 10px 5px;
}

.category .sidebar #slider-range {
	margin: 10px 0 30px;
}

.category .ui-state-default, .category .ui-widget-content .ui-state-default, .category .ui-widget-header .ui-state-default, .category .ui-button, .category .ui-button.ui-state-disabled:hover, .category .ui-button.ui-state-disabled:active {
    border: 1px solid #dddddd;
    background: #fbad48;
    font-weight: bold;
    color: #0073ea;
    border-radius: 50%;
    outline: none;
}

.category .sidebar .params-2 {
	border:1px solid #eaeaea;
    border-bottom: none;
    border-top: none;
}

.category .sidebar .params-2 .spoiler {
	cursor: pointer;
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f2;
	font-size: 14px;
}

.category .sidebar .params-2 .spoiler:last-child {
	border-bottom: none;
}

.category .sidebar .params-2 .spoiler img{
	float: right;
	padding: 5px 0;
}

.category .sidebar .params-2 .buttons {
	margin: 30px auto;
}

.category .sidebar .params-2 a.show{
	color: #fbad48;
	padding: 10px;
	border: 1px solid #fbad48; 
	border-radius: 3px;
    display: block !important;
    float: left;
}

.category .sidebar .params-2 a.drop {
	color: #aaaaaa;
	padding: 10px;
	border: 1px solid #aaaaaa; 
	border-radius: 3px;
    display: block !important;
    float: right;
}

.rotate {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

.spoiler .content {
	height: 0;
	visibility: hidden;
}

.spoiler .content.in {
	height: 100%;
	visibility: visible;
    padding: 15px 0;
}

.spoiler .checkbox-inline {
	width: 100%;
	padding-top: 10px ;
	padding-bottom: 10px;
	margin: 0;
}

.spoiler input[type=checkbox] {
	margin-top: 1px;
}

.category.cart .bradcrumps {
	padding-bottom: 20px;
	border-bottom: 3px solid #f1f1ed;
}

.category.cart .bradcrumps ul li{
	display: inline-block;
	padding: 0 20px; 
}

.category.cart .bradcrumps ul li:after{
	content: "";
    width: 7px;
    height: 12px;
    background: url(../img/chevron_right.png);
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
    float: right;
    margin: -15px -25px 0 0;
}

.category.cart .bradcrumps ul li:last-child:after {
	display: none;
}

.category.cart .bradcrumps ul li h4{
	font-size: 24px;
	font-weight: 900;
	color: #fbad48;
}

.category.cart  .remove img {
	margin: 0 0 0 10px;
}

.category.cart .border {
	border-bottom: 2px solid #f1f1ed;
	padding:20px 15px;
	min-height: 74px;
}

.category.cart .border span {
	color: #fbad48;
	font-size: 15px;
	font-weight: 900;
    vertical-align: -webkit-baseline-middle;
}

.category.cart .price {
	margin: 0;
}

.category.cart .quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 32px;
  font-size: 19px;
  color: #43484D;
  font-weight: 300;
}
 
.category.cart .quantity button[class*=btn] {
  width: 30px;
  border: none;
  cursor: pointer;
  background: transparent;
}
.category.cart .minus-btn img {
  margin-top: 2px;
}
.category.cart .quantity .plus-btn img {
  margin-top: 2px;
}
 
.category.cart .quantity button:focus,
.category.cart .quantity input:focus {
  outline:0;
}

.category.cart  .price p{
	font-size: 16px;
	font-weight: 400;
    vertical-align: -webkit-baseline-middle;
}

.category.cart .promo label{
	margin: 30px 10px 30px 0;
}

.category.cart .total-price {
	padding: 50px 0;
}

.category.cart .total-price p {
	font-size: 18px;
	text-align: right;
}

.category.cart .total-price span {
	font-weight: 900;
	color: #54bc00;
}

.category.cart img.add_to_cart {
	width: 100%;
}

.category.cart img.add_to_cart:hover {
    opacity: .4;
}
.category.single_prod .bradcrumps {
	padding-bottom: 20px;
	border-bottom: 3px solid #f1f1ed;
}

.category.single_prod .bradcrumps ul li{
	display: inline-block;
	padding: 0 20px; 
}

.category.single_prod .bradcrumps ul li:after{
	content: "";
    width: 7px;
    height: 12px;
    background: url(../img/chevron_right.png);
    background-position: center;
    background-size: 100% 100%;
    display: inline-block;
    float: right;
    margin: -15px -25px 0 0;
}

.category.single_prod .bradcrumps ul li:last-child:after {
	display: none;
}

.category.single_prod .bradcrumps ul li h4{
	font-size: 24px;
	font-weight: 900;
	color: #fbad48;
}


.category.single_prod .slider {
	border: 1px solid rgb(219, 218, 207);
	border-radius: 2px;
    margin: 30px -15px;
    padding: 50px 0; 
}

.category.single_prod .flexslider {
    width: 300px;
    margin: 22px auto !important;
}

.category.single_prod .flex-direction-nav a.flex-next {
    background-image: url(../img/chevron_right_dark.png);
    background-position: center;
    background-size: 100% 100%;
    outline: none;
    color: rgba(0, 0, 0, 0) !important;
    border: none;
    box-shadow: none;
    font-size: 0px;
    text-shadow: none;
    margin: -42px 0 0;
}

.category.single_prod .flex-direction-nav a.flex-prev {
    background-image: url(../img/chevron_left_dark.png);
    background-position: center;
    background-size: 100% 100%;
    outline: none;
    color: rgba(0, 0, 0, 0) !important;
    border: none;
    box-shadow: none;
    font-size: 0px;
    text-shadow: none;
    margin: -42px 0 0;
}

.category.single_prod .flex-direction-nav a {
    width: 17px !important;
    height: 33px !important;
}

.category.single_prod .flexslider:hover .flex-direction-nav .flex-next {
	right: -62px;
}

.category.single_prod .flexslider:hover .flex-direction-nav .flex-prev {
	left: -62px !important;
}

/* The switch - the box around the slider */
.category.single_prod .switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* Hide default HTML checkbox */
.category.single_prod .switch input {display:none;}

/* The slider */
.category.single_prod .checkbox_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.category.single_prod .checkbox_slider:before {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.category.single_prod input:checked + .checkbox_slider {
  background-color: #54bc00;
}

.category.single_prod input:focus + .checkbox_slider {
  box-shadow: 0 0 1px #54bc00;
}

.category.single_prod input:checked + .checkbox_slider:before {
  -webkit-transform: translateX(15px);
  -ms-transform: translateX(15px);
  transform: translateX(15px);
}

/* Rounded sliders */
.category.single_prod .checkbox_slider.round {
  border-radius: 34px;
}

.category.single_prod .checkbox_slider.round:before {
  border-radius: 50%;
}

.category.single_prod .testimonials .flexslider {
    width: 80%;
    margin: 22px auto !important;
}

.category.single_prod .testimonials .slider {
	border-top: 1px solid rgb(219, 218, 207) !important;
	border-radius: 2px;
    margin: 15px 0;
    border:none;
    padding: 0;
}

.category.single_prod .testimonials .flex-direction-nav a.flex-next {
    background-image: url(../img/chevron_right_dark.png);
    background-position: center;
    background-size: 100% 100%;
    outline: none;
    color: rgba(0, 0, 0, 0) !important;
    border: none;
    box-shadow: none;
    font-size: 0px;
    text-shadow: none;
    margin: -15px 0 0 0;
    opacity: 1;
	right: -22px;
}

.category.single_prod .testimonials .flex-direction-nav a.flex-prev {
    background-image: url(../img/chevron_left_dark.png);
    background-position: center;
    background-size: 100% 100%;
    outline: none;
    color: rgba(0, 0, 0, 0) !important;
    border: none;
    box-shadow: none;
    font-size: 0px;
    text-shadow: none;
    margin: -15px 0 0 0;
    opacity: 1;
	left: -22px !important;
}

.category.single_prod .testimonials .flex-direction-nav a {
    width: 8px !important;
    height: 20px !important;
}

.category.single_prod .testimonials .flexslider:hover .flex-direction-nav .flex-next {
	right: -22px;
}

.category.single_prod .testimonials .flexslider:hover .flex-direction-nav .flex-prev {
	left: -22px !important;
}

.category.single_prod .testimonials .slider p {
	font-size: 14px;
}

.category.single_prod .info {
	margin: 30px -15px;
}

.category.single_prod .info h4 {
	font-size: 24px;
    font-weight: 900;
    color: #fbad48;
}

.category.single_prod .info p {
	font-size: 12px;
    font-weight: 300;
    padding:10px 0;
}

.category.single_prod .info p span{
    color: #fbad48;	
}

.category.single_prod .info .btn img {
	width: 100%;
	background: 0;
	padding:0;
}

.category.single_prod .info .btn:hover img {
	opacity: .8;
}

.category.single_prod .info .boxes {
	margin: 20px 0;
}

.category.single_prod .info .boxes p {
	padding: 5px 0;
}

.category.single_prod .info .boxes .list-checkbox {
	margin: 5px 0;
}

.category.single_prod .info .btn.buy {
	margin: 20px 0;
}

.category.single_prod .testimonials .btn {
	float: right;
}

.category.single_prod .testimonials .btn:hover {
	opacity: .8;
}

.category.single_prod .social_buttons img {
	float: right;
	padding: 0 0 0 10px;
	width: 40px;
}

.category.single_prod .product_info {
	margin: 30px 0;
}

.category.single_prod .product_info .border {
	border:1px solid #d6d6d6;
    padding: 0 0 15px;
    margin: 0 0 40px;
}

.category.single_prod .product_info h2{
	font-size: 30px;
	font-weight: 700;
	color: #4d5059;
	padding: 30px 0;
}

.category.single_prod .product_info .prod_gallery {
	margin: 0 0 30px;
}

.category.single_prod .product_info .prod_gallery img{
	width: 100%;
	max-height: 360px;
	max-width: 360px;
	padding: 20px;
}

.category.single_prod .also {
	text-align: center;
	margin: 50px 0;	
}

.category.single_prod .also img.border {
	width: 100%;
}

.category.single_prod .also a:hover {
	text-decoration: none; 
}

.category.single_prod .also .border {
	border:1px solid #d6d6d6;
}

.category.single_prod .also .border:hover {
	border:1px solid #fbad48;
}

.category.single_prod .also h5 {
    color: #3574a1;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 0; 
}

.category.single_prod .also .rate {
    margin: 10px auto;
}

.category.single_prod .also .on-sale {
    font-size: 12px;
    margin: 10px auto;
}

.category.single_prod .also .on-sale span {
    color: #fbad48;
}

.category.single_prod .also .price h5{
    font-size: 18px;
    font-weight: 900;
    color: #4d5059;
    margin: 10px auto;
}