body {
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

.menu {
  position: absolute;
  z-index: 99999;
}

.menu .bg {
  background: rgba(0, 0, 0, .3);
}

.menu .top-part {
  padding: 15px 0;
}

.top-part h3 {
  font-size: 30px;
  font-weight: 900;
  letter-spacing: -1px;
  padding: 2px 0 0;
  display: block;
  color: #fffcdf;
}

.top-part .logo img {
  width: 70%;
  position: absolute;
  z-index: 9999;
}

.top-part .shop-name span {
  font-size: 13px;
  font-weight: 900;
  letter-spacing: -1px;
  font-style: italic;
  color: #fffcdf;
}

.top-part .phone span {
  font-size: 32px;
  font-weight: 900;
  padding: 2px 0 15px;
  font-style: italic;
  display: block;
  color: #fffcdf;
  text-align: right;
}

.top-part .service-button img{
  width: 70%;
  margin: 0 auto;
  display: block;
}

.navi {
  /*background: #fafafa;
  border:1px solid #cecece; */
  background: url('./img/bg-menu.png');
  background-size: 100% 100%;
  margin: 0 0 10px 0;
  padding: 10px 0;
  width: 212vh;
  position: relative;
}

.navi ul li {
  display: inline-block;
  font-size: 13px;
  font-weight: 700;
  padding: 0 10px;
}

.navi ul li:first-child {
  margin: 0 0 0 -19px;
}

.navi ul li a {
  color: rgb(51, 51, 51);
  display: block;
}

.navi ul li a img {
  width: 14px;
}

.cd-background-wrapper {
  background-color: transparent;
  position: relative;
  overflow: hidden;
  -webkit-perspective: 4000px;
  perspective: 4000px;
  height: 100%;
  min-height: 838px;
  z-index: 2;
}
  
.cd-floating-background {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-floating-background.is-absolute {
  position: absolute;
}
.cd-floating-background img {
  display: block;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* fixes a Firefox bug - images not correctly rendered*/
  background-color: rgba(255, 255, 255, 0.01);
}
.cd-floating-background img:not(:first-child) {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-floating-background img:first-child {

}
.cd-floating-background img:nth-child(2) {
  -webkit-transform: translateZ(290px);
  -ms-transform: translateZ(290px);
  transform: translateZ(290px);
  top: 30%;
  left: 0;
}
.cd-floating-background img:nth-child(3) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(400px);
  width: 6%;
  top: 50%;
  left: 50%;
}
.cd-floating-background img:nth-child(4) {
  -webkit-transform: translateZ(400px);
  -ms-transform: translateZ(400px);
  transform: translateZ(400px);
  width: 3%;
  top: 40%;
  left: 50%;
}
.no-preserve-3d .cd-floating-background {
  /* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
  position: relative;
}

.head_title {
  position: absolute;
  z-index: 9999999999999999999;
  background: url('./img/titlebg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  top: 17%;
  left: 16%;
  padding: 30px 60px
}

.head_title h1 {
  font-size: 35px;
  font-weight: 900;
  color: #fff;;
}

.head_title h2 {
  font-size: 20px;
  font-weight: 900;
  font-style: italic; 
  color: #fff;
  margin: 10px 0;
}

.head_home .search {
  position: absolute;
  z-index: 9999999999999999999;
  top: 45%;
  left: 24.5%;
}

.head_home .search input[type="search"] {
  padding: 17px;
  width: 575px;
}

.head_home .search input[type="submit"] {
  background:url(./img/search_btn.jpg);
  background-size: 100% 100%;
  background-position: center;
  height: 60px;
  width: 78px;
}

.sales {
  margin-top: 33px;
  margin-bottom: 33px; 
}

.sales img {
  width: 100%;
}


.seccond_block h3 {
  font-size: 60px;
  font-weight: 900;
  text-align: left;
  color: #4d5059;
}

.seccond_block h4 {
  font-size: 18px;
  font-weight: 900;
  text-align: left;
  color: #fff;
  background-image: url(./img/patern-product-home.png);
  padding: 10px 20px;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 250px;
}

.prodacts_home img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.prodacts_home img:hover  {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.car_home {
  padding: 100px 0;  
}

.car_home img {
  width: 60%;
  margin: 0 auto;
  display: block;
}

.light {
  margin: -650px 0 0 282px;
  position: absolute;
  width: 200px;
}

.light img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.light img:hover  {
  width: 100%;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.bag {
  margin: -641px 0 0 582px;
  position: absolute;
  width: 233px;
}

.bag img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bag img:hover  {
  width: 100%;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.xz {
    margin: -298px 0 0 605px;
    position: absolute;
    width: 274px;
}

.xz img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.xz img:hover  {
  width: 100%;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.tires {
  margin: -250px 0 0 461px;
  position: absolute;
  width: 200px;
}

.tires img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.tires img:hover  {
  width: 100%;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.kord {
  margin: -305px 0 0 174px;
  position: absolute;
  width: 277px;
}

.kord img {
  width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.kord img:hover  {
  width: 100%;
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.says h2{
  font-size: 60px;
  font-weight: 900;
  padding: 0 0 20px;
  border-bottom: 1px solid #000;
}

.flexslider {
  margin: 0 !important;
}

.slides .text {
  width: 250px;
  display: block;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
}

.slides .text span{
  padding: 5px 0 0;
  border-top: 1px solid #fff;
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  margin: 5px 0 0;
}


.slides .text span a{
  font-weight: 900;
  text-transform: none;
  color: #fbad48;
}

.view {
  width: 250px;
  height: 250px;
  margin: 0 auto;
  border: 5px solid #fff;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  border-radius: 50%;
  box-sizing: content-box;
  color: #fff;
}

.view .name {
    position: absolute;
    top: 50%;
    text-align: center;
    z-index: 99;
    font-size: 24px;
    font-weight: 900;
    width: 250px;
    text-transform: uppercase;
}

.view .mask, .view .content {
 width: 100%;
 height: 100%;
 position: absolute;
 overflow: hidden;
 top: 0;
 left: 0;
 border-radius: 50%;
}

.view img {
 display: block;
 position: relative;
}

.third-effect .mask {
 opacity: 0;
 overflow:visible;
 background: rgba(77, 80, 89, 0.7);
 box-sizing:border-box;
 transition: all 0.4s ease-in-out;
}
.third-effect a.info {
 position:relative;
 top:-10px; /* Center the link */
 opacity: 0;
 transition: opacity 0.5s 0s ease-in-out;
}
.third-effect:hover .mask {
  opacity: 1;
  background: rgba(77, 80, 89, 0.7);
}
.third-effect:hover .name {
  color: #fbad48;
  transition-delay: 0.3s;
}

.flex-direction-nav a {
  width: 30px !important;
  height: 55px !important;
}

.flex-direction-nav a.flex-next {
  background-image: url('./img/right.png');
  background-position: center;
  background-size: 100% 100%;
  outline: none;
  color: rgba(0, 0, 0, 0) !important;
  border: none;
  box-shadow: none;
  font-size: 0px;
  text-shadow: none;
  margin: -42px 0 0;
}

.flex-direction-nav a.flex-prev {
  background-image: url('./img/left.png');
  background-position: center;
  background-size: 100% 100%;
  outline: none;
  color: rgba(0, 0, 0, 0) !important;
  border: none;
  box-shadow: none;
  font-size: 0px;
  text-shadow: none;
  margin: -42px 0 0;
}

.flex-direction-nav a:before {  
    content: ' ' !important;
}

.latest-news{
  margin: 0 0 50px;  
}

.latest-news h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  margin: 50px 0;
}

.latest-news img{
  width: 100%;
}

.latest-news .more {
  width: 127px;
  margin: -37px auto 15px;
}

.latest-news span {
  font-weight: 900;
  text-transform: uppercase;
  display: block;
  color: #fbad48;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 0;
}

.latest-news p {
  font-size: 14px;  
  line-height: 20px;
}

.bg-contact-us {
  background: url(./img/bg-contact-us.jpg);
  background-size: 100%;
  background-position: center;
  position: relative;
  z-index: 4;
  height: 883px;
}

.contact_us .title {
  background: url(./img/patern-title-contact.png);
  background-size: 100% 100%;
  background-position: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 50px;
}

.contact_us .title h4 {
  font-size: 30px;
  font-weight: 900; 
  text-align: center;
  color: #fff;
}

.contact_us .title .search {
  margin: 0 auto; 
  padding: 23px 0;
  width: 354px;
}

.contact_us .title .search input[type="search"] {
  padding: 5px;
  width: 310px;
}

.contact_us .title .search input[type="submit"] {
  background:url(./img/search_btn.jpg);
  background-size: 100% 100%;
  background-position: center;
  height: 36px;
  width: 44px;
}

.contact_us .iphone img{
  height: 534px;
  margin: 20px 0 0;
}

.contact_us h5 {
  font-size: 18px;
  font-weight: 900; 
  text-align: center;
  color: #4d5059;
}

footer {/*
  height: 534px;*/
  width: 100%;
  background: url(./img/footer.png);
  background-size: 100% 130%;
  background-position: center;
  position: relative;
  z-index: 5;
  top: -14%;
}

footer .contact-info {
  padding: 12% 0;
}

footer h5 {
  font-size: 18px;
  font-weight: 900; 
  color: #fff;
  padding: 5px 0;
}

footer span h5 {
  font-size: 18px;
  font-weight: 900; 
  color: #4d5059;
  padding: 30px 0 0;
}